.item-card:hover {
    transition: transform 0.3s ease;
    transform: translateY(-8px);
  }
  svg:hover{
    stroke: rgb(23, 242, 74);
  }
  @keyframes fadeZoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .fade-zoom-in {
    animation: fadeZoomIn 1s ease-in-out;
  }