*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1 {
  color: blue;
}

@layer components {
  .experience-img {
    @apply w-64 h-40 md:w-72 md:h-48 rounded-2xl overflow-hidden bg-[#141414] flex items-center justify-center;
  }
}